{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Tracker</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>


    {% if messages %}
    <div id="messagePopupContainer">
        {% for message in messages %}
        <div class="popup-message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    <div class="header">
        <h1 class="app-title">Money Tracker</h1>
        <div class="menu-buttons">
            <button type="button" id="openCategoryModalBtn">🏷️ Categories</button>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" style="height:34px;">Logout</button>
            </form>
        </div>
    </div>

    <div class="page-content">


    <div class="months-bar" id="monthsBar">
        <select id="yearSelect" class="year-selector"></select>
        <div class="month-buttons">
            <button class="month">Jan</button>
            <button class="month">Feb</button>
            <button class="month">Mar</button>
            <button class="month">Apr</button>
            <button class="month">May</button>
            <button class="month">Jun</button>
            <button class="month">Jul</button>
            <button class="month">Aug</button>
            <button class="month">Sep</button>
            <button class="month">Oct</button>
            <button class="month">Nov</button>
            <button class="month">Dec</button>
        </div>
        
    </div>


        <!-- Income and Expense Tables -->
        <div class="income-expense">
            <div class="box">
                <div class="box-header">
                    <h2>Income</h2>
                    <button type="button" class="add-btn-expandable" id="openIncomeModalBtn">
                        <img src="{% static 'tracker/icons/add-icon.svg' %}" class="icon-svg">Add Income
                    </button>

                    <div id="incomeModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeIncomeModal">&times;</span>
                        <h2>Add Income</h2>
                        {% include 'tracker/includes/add_transaction_form.html' with form_id="incomeForm" action_url='add_transaction' categories=income_categories today=today tx_type='income' %}
                    </div>
                    </div>
                </div>
                

                <table class="income-table">
                    <tr><th>Category</th><th>Amount</th></tr>
                    {% for category, total in income_categories.items %}
                        <tr><td>{{ category.icon }} {{ category }}</td><td>₹{{ total }}</td></tr>
                    {% endfor %}
                </table>
            </div>

            <div class="box">
                <div class="box-header">
                    <h2>Expense</h2>
                    <button type="button" class="add-btn-expandable" id="openExpenseModalBtn">
                        <img src="{% static 'tracker/icons/add-icon.svg' %}" class="icon-svg">Add Expense
                    </button>
                    <!-- Expense Modal -->
                    <div id="expenseModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeExpenseModal">&times;</span>
                        <h2>Add Expense</h2>
                        {% include 'tracker/includes/add_transaction_form.html' with form_id="expenseForm" action_url='add_transaction' categories=expense_categories today=today tx_type='expense' %}
                    </div>
                    </div>
                </div>

                <table class="expense-table">
                    <tr><th>Category</th><th>Amount</th></tr> 
                    {% for category, total in expense_categories.items %}
                        <tr><td>{{ category.icon }} {{ category }}</td><td>₹{{ total }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>



        <!-- Records and Graph -->
        <div class="bottom-section">
            <div class="records">
                <h2>Daily Transactions</h2>
                {% regroup transactions by date as grouped_transactions %}

                {% for group in grouped_transactions %}
                    <div class="date-label-container">
                        <div class="date-label">{{ group.grouper|date:"d, M" }}</div>
                        <hr class="date-underline">
                    </div>
                    {% for tx in group.list %}
                        <div class="record-item"
                            data-id="{{ tx.id }}"
                            data-type="{{ tx.type }}"
                            data-category="{{ tx.category }}"
                            data-note="{{ tx.note }}"
                            data-amount="{{ tx.amount }}"
                            data-date="{{ tx.date|date:'Y-m-d' }}">
                            
                            <span class="record-icon">{{ tx.category.icon }}</span>
                            <div class="record-info">
                                <div class="record-details">
                                    <div class="category">{{ tx.category }}</div>
                                    <div class="note">{{ tx.note }}</div>
                                </div>
                                <div class="amount {% if tx.type == 'income' %}income{% else %}expense{% endif %}">
                                    {% if tx.type == 'expense' %}-{% endif %}₹{{ tx.amount }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>


            <div class="graph">
                <h2>Statistics</h2>
                <div class="chart-layout">
                    <!-- Wide container for both bar and line charts -->
                    <div class="chart-item wide">
                        <h3>Monthly Summary</h3>
                        <canvas id="barChart"></canvas>
                        <h3 style="margin-top: 1rem;">Income vs Expense Trend</h3>
                        <canvas id="trendLineChart"></canvas>
                    </div>

                    <!-- Expense Breakdown -->
                    <div class="chart-item small">
                        <h3>Expense Breakdown</h3>
                        <canvas id="pieChart"></canvas>
                    </div>

                    <!-- Cumulative Balance -->
                    <div class="chart-item small">
                        <h3>Cumulative Balance</h3>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>

        </div>


        
        <!-- <button type="button" class="add-btn-expandable" id="openCategoryModalBtn">
            <img src="{% static 'tracker/icons/add-icon.svg' %}" class="icon-svg">Add Income
        </button> -->

        <div id="categoryModal" class="cat-modal">
            <div class="cat-modal-content">
                <span class="close" id="closeCategoryModalBtn">&times;</span>
                {% include 'tracker/includes/modify_category_form.html' with form_id="categoryForm" income_categories=income_categories expense_categories=expense_categories %}
            </div>
        </div>
    </div>




    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>


    const yearSelect = document.getElementById('yearSelect');
    const currentYear = new Date().getFullYear();
    const stopYear = currentYear - 10;

    for (let year = currentYear; year >= stopYear; year--) {
        const option = document.createElement('option');
        option.value = year;
        option.textContent = year;

        // Pre-select current year
        if (year === currentYear) {
        option.selected = true;
        }

        yearSelect.appendChild(option);
    }


        const monthButtons = document.querySelectorAll('#monthsBar .month');
        const currentMonthIndex = new Date().getMonth();
        monthButtons[currentMonthIndex].classList.add('active');
        monthButtons.forEach(button => {
            button.addEventListener('click', () => {
            monthButtons.forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');
            });
        });


    const barCtx = document.getElementById('barChart').getContext('2d');

    const chartLabels = {{ chart_labels|safe }};
    const bar_chartData = {{ bar_chart_data|safe }};

    const incomeData = bar_chartData.map(row => row[0]);
    const expenseData = bar_chartData.map(row => row[1]);
    new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: chartLabels,
            datasets: [{
                label: 'Income',
                data: incomeData,
                backgroundColor: 'green'
            }, {
                label: 'Expense',
                data: expenseData,
                backgroundColor: 'red'
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            }
        }
    });

    const trendCtx = document.getElementById('trendLineChart').getContext('2d');
    new Chart(trendCtx, {
        type: 'line',
        data: {
            labels: chartLabels,
            datasets: [
                {
                    label: 'Income',
                    data: incomeData,
                    borderColor: 'green',
                    fill: false,
                    tension: 0.3
                },
                {
                    label: 'Expense',
                    data: expenseData,
                    borderColor: 'red',
                    fill: false,
                    tension: 0.3
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            }
        }
    });


    const pie_categories = {{ pie_chart_labels|safe }};
    const pie_chartData = {{ pie_chart_data|safe }};

    new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: {
            labels: pie_categories,
            datasets: [{
                label: 'Expenses',
                data: pie_chartData,
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#888', '#44bd32', '#f368e0'] // Add more colors if needed
            }]
        }
    });


    const balanceData = {{ balance_data|safe }};
    new Chart(document.getElementById('lineChart'), {
        type: 'line',
        data: {
            labels: chartLabels,
            datasets: [{
                label: 'Cumulative Balance',
                data: balanceData,
                borderColor: '#4B0082',
                fill: true,
                backgroundColor: 'rgba(75, 0, 130, 0.1)',
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            }
        }
    });

     // INCOME MODAL
    function resetForm(formId) {
        const form = document.getElementById(formId);
        if (form) {
            form.reset();  // clears most inputs
            form.querySelector('input[name="tx_id"]').value = '';
            form.querySelector('input[name="old_data"]').value = '';
        }
    }


    const incomeModal = document.getElementById("incomeModal");
    const openIncomeBtn = document.getElementById("openIncomeModalBtn");
    const closeIncomeBtn = document.getElementById("closeIncomeModal");

    openIncomeBtn.onclick = () => {
        incomeModal.style.display = "flex";
    };

    closeIncomeBtn.onclick = () => {
        incomeModal.style.display = "none";
    };

    // EXPENSE MODAL
    const expenseModal = document.getElementById("expenseModal");
    const openExpenseBtn = document.getElementById("openExpenseModalBtn");
    const closeExpenseBtn = document.getElementById("closeExpenseModal");
    
    const expDeleteBtn = document.getElementById(`expenseFormDeleteBtn`);
    const incDeleteBtn = document.getElementById(`incomeFormDeleteBtn`);


    openExpenseBtn.onclick = () => {
        expenseModal.style.display = "flex";
    };

    closeExpenseBtn.onclick = () => {
        expenseModal.style.display = "none";
    };


    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#date_input", {
        dateFormat: "Y-m-d"
        });
    });


    document.querySelectorAll('.record-item').forEach(item => {
        item.addEventListener('dblclick', function () {
            const txType = this.getAttribute('data-type');

            if (txType === 'income') {
                incomeModal.style.display = "flex";
                if (incDeleteBtn) incDeleteBtn.disabled = false;
            } else if (txType === 'expense') {
                expenseModal.style.display = "flex";
                if (expDeleteBtn) expDeleteBtn.disabled = false;
            }

            
            const tx_id = this.getAttribute('data-id');
            const tx_type = this.getAttribute('data-type')
            const category = this.getAttribute('data-category');
            const note = this.getAttribute('data-note');
            const amount = this.getAttribute('data-amount');
            const date = this.getAttribute('data-date');

            const formPrefix = txType === 'income' ? 'income' : 'expense';
            const form = document.querySelector(`#${formPrefix}Form`);
            

            // ✅ Set values 
            const idInput = form.querySelector(`input[name="tx_id"]`);
            const typeInput = form.querySelector(`input[name="tx_type"]`)
            const categorySelect = form.querySelector(`select[name="category"]`);
            const noteInput = form.querySelector(`textarea[name="note"]`);
            const amountInput = form.querySelector(`input[name="amount"]`);
            const dateInput = form.querySelector(`input[name="date"]`);

            if (idInput) idInput.value = tx_id;
            if (typeInput) typeInput.value = tx_type;
            if (categorySelect) categorySelect.value = category;
            if (noteInput) noteInput.value = note;
            if (amountInput) amountInput.value = amount;
            if (dateInput && date) {
                dateInput.value = date; 
            }

            form.action = '/edit-transaction/';

            const oldData = {
                type: tx_type,
                amount: amount,
                note: note,
                category: category,
                date: date
            };

            form.querySelector('input[name="old_data"]').value = JSON.stringify(oldData);
        });        
    });


    const categoryModal = document.getElementById("categoryModal");
    const openBtn = document.getElementById("openCategoryModalBtn");
    const closeBtn = document.getElementById("closeCategoryModalBtn");

    openBtn.onclick = () => {
        categoryModal.style.display = "block";
    };
    closeBtn.onclick = () => {
        categoryModal.style.display = "none";
        resetCatForm()
    };






    const emojiBtn = document.getElementById('emojiInput');
    const emojiPicker = document.getElementById('emojiPicker');
    const iconInput = document.getElementById('iconInput');

    // Show emoji picker near the button
    emojiBtn.addEventListener('click', (e) => {
        const rect = emojiBtn.getBoundingClientRect();
        // emojiPicker.style.top = `${rect.bottom + window.scrollY}px`;
        // emojiPicker.style.left = `${rect.left + window.scrollX}px`;
        emojiPicker.style.display = 'block';
    });

    // Hide when clicking outside
    document.addEventListener('click', (e) => {
        if (!emojiPicker.contains(e.target) && e.target !== emojiBtn) {
        emojiPicker.style.display = 'none';
        }
    });


    function resetCatForm() {
        const form = document.getElementById('categoryForm');
        if (form) {
            form.reset();  // clears most inputs
            emojiBtn.textContent = '😄';
            formWarns.style.display = 'none';
            editBtn.disabled = true;
            deleteBtn.disabled = true;
        }
    }

    // Update emoji on click
    emojiPicker.addEventListener('emoji-click', (event) => {
        const emoji = event.detail.unicode;
        emojiBtn.textContent = emoji;
        iconInput.value = emoji;
        emojiPicker.style.display = 'none';
    });



    const categoryItems = document.querySelectorAll('.category-item');
    const idInput = document.getElementById('idInput')
    const categoryNameInput = document.getElementById('categoryNameInput');
    const editBtn = document.getElementById('editBtn')
    const deleteBtn = document.getElementById('deleteBtn')
    const formWarns = document.getElementById('formWarns')
    const warningLabel = document.getElementById('warningLabel')
    const clearBtn = document.getElementById('clearBtn')
    const typeSelector = document.getElementById('typeSelector')
    editBtn.disabled = true;
    deleteBtn.disabled = true;

    categoryItems.forEach(item => {
        item.addEventListener('click', (e) => {
            const [emoji, ...nameParts] = item.textContent.trim().split(' ');
            const categoryName = nameParts.join(' ');
            const type_sel = item.dataset.type
            const id = item.dataset.id
            categoryNameInput.value = categoryName;
            emojiBtn.textContent = emoji;
            editBtn.disabled = false;
            deleteBtn.disabled = false;
            warningLabel.textContent = emoji + ' ' + categoryName 
            formWarns.style.display = 'flex';  // show the warning label with clear button
            typeSelector.value = type_sel
            idInput.value = id
        });
    });


    clearBtn.addEventListener('click', function () {
        document.getElementById("categoryForm").reset();
        resetCatForm()
    });

    window.onclick = function (event) {
        if (event.target === incomeModal) {
            incomeModal.style.display = "none";
            resetForm('incomeForm');
            document.getElementById(`incomeFormDeleteBtn`).disabled = true;
        }
        if (event.target === expenseModal) {
            expenseModal.style.display = "none";
            resetForm('expenseForm');
            document.getElementById(`expenseFormDeleteBtn`).disabled = true;
        }
        if (event.target === categoryModal) {
            categoryModal.style.display = "none";
            document.getElementById("categoryForm").reset();
            resetCatForm()
        }
    };

    setTimeout(() => {
        const popup = document.getElementById('messagePopupContainer');
        if (popup) popup.remove();
    }, 3000);

    
</script>

</body>
</html>
